<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/product">Product</a>
    <a href="/account">Acccount Management</a>
    <a href="/sales">Sales Statistics</a>
  
    <a href="/register" class="right">Sign up</a>
    <a href="/login" class="right">Sign in</a>
</div>