<div class="side">
    <div class="col-sm-4">
      <h1>Account</h1>
      <p>Trang này sẽ hiện thị danh sách thông tin accoung của người dùng</p>
      <p>Các tính năng cần cho Page Account</p>
      <p>Đối với Staff:</p>
      <ol>
          <li>Chỉnh sửa thông tin người dùng</li>
      </ol>
      <br><br>

      <p>Đối với Admin:</p>
      <ol>
          <li>Chỉnh sửa thông tin người dùng</li>
          <li>Xoá tài khoản</li>
          <li>Thêm tài khoản</li>
      </ol>
  </div>     
</div>